<div class="main-container">
  <div class="login-card">
    <main class="login-content">
      <span class="login-header">Login</span>
      <form [formGroup] = "userFormGroup" novalidate class="login-form"  >
        <input
          userFormControlName = "email" ngModel
          type="text"
          name="email"
          placeholder="Email"
          required
          class="login-input"
        />
        <input
          userFormControlName = "password" ngModel
          type="text"
          name="password"
          placeholder="Password"
          required
          class="login-input"
        />
        <input
          [disabled] = "userFormGroup.status == 'INVALID'" type="submit"
          name="submit"
          value="Login"
          class="login-btn"

        />
      </form>

      <div>
        <span>Don't have an account?</span>
        <a>SIGNUP</a>
      </div>
    </main>
    <aside class="login-aside"></aside>
  </div>
</div>
