<div class="container">
  <h2><b>Day 5 : NGFOR STRUCTURE DIRECTIVE</b></h2>
  <div
    *ngFor="
      let u of users;
      index as idx;
      count as total;
      first as isFirst;
      last as isLast;
      even as isEven;
      odd as isOdd
    "
  >
    <ul>
      <li>{{ u.id }} - {{ u.name }} - {{ u.phone }}</li>
      <span *ngIf="isFirst">This is first<br /></span>
      <span *ngIf="isLast">This is last<br /></span>
      <span *ngIf="isEven">This is even</span>
      <span *ngIf="isOdd">This is odd</span>
    </ul>
  </div>
</div>
