.add__card {
    background-color: #fff;
    border-radius: 2.75rem;
    height: 50rem;
    width: 35rem;
    margin: 6rem 0 0 0;
    display: grid;
    box-shadow: 0 0 2rem rgb(0 0 255 / 10%);
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    padding: 2rem;
    cursor: pointer;
    color: #443282;
    justify-items: center;
    animation: slideup 1s ease-in-out, fadein 1.5s ease-in-out 0ms 1;
}

.body__container {
    display: flex;
    align-self: end;
    justify-content: space-between;
    align-items: center;
    flex-flow: column
}

.add__icon {
    width: 20rem;
    margin-bottom: 1.15rem;
}

.card__title {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

.city__illustration {
    width: 20rem;
}
