.add-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-card {
    width: 80%;
    background: white;
    border-radius: 1rem;
    display: flex;
    margin-top: 1rem;
    height: 84vh;
}

.city-search-wrapper {
    flex: 1 1;
    flex-flow: column;
    overflow-y: auto;
    position: relative;
}

.city-search-title {
    letter-spacing: 4px;
    font-size: 3rem;
    font-weight: bold;
    color: darkblue;
    margin: 7rem 0 4rem 0;
}

.city-search-header {
    width: 100%;
    min-height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
}

.city-search-body {
    width: 100%;
    min-height: 60%;
    display: flex;
    justify-content: center;
}

.city-search-hr {
    word-spacing: 1rem;
    margin: 2rem;
}

.city-search-input-wrapper {
    position: relative;
    width: 80%;
    box-sizing: border-box;
}

.city-search__input {
    box-sizing: border-box;
    width: 100%;
    padding: 2rem;
    border-radius: 3rem;
    outline: none;
    border: none;
    box-shadow: 0 0 2rem 0.15rem rgba(0, 0, 255, 0.1);
    font-size: 1rem;
    color: #131F69;
    text-transform: uppercase;
}

.city-search__input::placeholder {
    font-size: 1rem;
    color: #131F69;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.city-search__btn {
    cursor: pointer;
    position: absolute;
    background-color: #31feae;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    right: 0;
    top: 0;
    outline: none;
    border: none;
    z-index: 5;
    box-shadow: 0 0 2rem 0.15rem rgba(0, 0, 255, 0.1);
}

.search-icon {
    height: 50%;
    width: 50%;
}

.city-search-wrapper {
    width: 50%;
}

.fav-city__icon {
    width: 14rem;
}

.fav-city-wrapper {
    flex: 1 1;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    /* justify-content: space-around; */
    height: 100%;
    background-color: darkgray;
}

.fav-city-body,
.fav-city-header {
    position: relative;
    color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-sizing: border-box;
    margin-top: 3rem;
}

.fav-city-body-subwrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    /* justify-content: center; */
    align-items: center;
    /* padding-bottom: 5rem;*/
}

.fav-city-hr {
    width: 5rem;
}

.fav-city-title {
    font-size: 2.85rem;
    letter-spacing: 0.1rem;
    word-break: break-all;
    font-weight: bold;
    letter-spacing: 0.25rem;
}

.fav-city-title {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.fav-city-date {
    margin-top: 0.5rem;
}

.fav-city-temp {
    font-size: 5rem;
    text-align: center;
    margin: 2rem;
}

.fav-city-name {
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

.fav-weather-icon {
    width: 7rem;
    margin-bottom: 4rem;
}

.fav-city-info {
    display: flex;
    flex-flow: column;
    text-align: center;
    margin-top: -2rem;
}

.fav-city-state {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 2rem;
}

.fav-city-country {
    margin-left: 0.75rem;
}

.fav-city-name-wrapper {
    margin-bottom: 2rem;
}

.fav-city-add-btn {
    cursor: pointer;
    outline: none;
    margin-bottom: 2rem;
    border: 2px solid white;
    border-radius: 3rem;
    padding: 1.25rem 2rem;
    background-color: transparent;
    color: white;
    font-weight: bold;
}

.fav-city-add-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.fav-city-added-btn {
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
}

app-weather-card {
    margin: 2rem 0;
    min-width: 28rem;
}
