<div class="add__card">
    <div class="header__container">
        <span class="card__title">ROME</span>
    </div>
    <div class="icon__container">
        <svg class="add__icon" viewBox="3487.9 -810.7 291.2 200.3">
        <g data-name="Strom icon" transform="translate(1959 -1260.7)">
          <ellipse cx="55.3" cy="51.7" class="cls-99" data-name="Ellipse 14" rx="55.3" ry="51.7"
                   transform="translate(1529 490.4)"/>
          <ellipse cx="55.3" cy="51.7" class="cls-99" data-name="Ellipse 15" rx="55.3" ry="51.7"
                   transform="translate(1569.6 467.8)"/>
          <circle cx="55.3" cy="55.3" r="55.3" class="cls-99" data-name="Ellipse 16"
                  transform="translate(1618.9 476.8)"/>
          <ellipse cx="55.3" cy="51.7" class="cls-99" data-name="Ellipse 17" rx="55.3" ry="51.7"
                   transform="translate(1631.8 450)"/>
          <ellipse cx="55.3" cy="51.7" class="cls-99" data-name="Ellipse 18" rx="55.3" ry="51.7"
                   transform="translate(1687.1 477.5)"/>
          <ellipse cx="55.3" cy="51.7" class="cls-99" data-name="Ellipse 19" rx="55.3" ry="51.7"
                   transform="translate(1709.6 507.3)"/>
          <circle cx="55.3" cy="55.3" r="55.3" class="cls-99" data-name="Ellipse 20"
                  transform="translate(1639.6 500.1)"/>
          <ellipse cx="55.3" cy="51.7" class="cls-99" data-name="Ellipse 21" rx="55.3" ry="51.7"
                   transform="translate(1569.6 507.3)"/>
          <path fill="none" stroke="#fd0" stroke-width="18"
                d="M1732.5 644l-61.4-61.4 22.5-10.3 26.8 5.1 9.5-22.4-38-37.2" data-name="Path 59"/>
          <path fill="none" stroke="#fd0" stroke-width="15" d="M1597.2 539.5l31.2 25.9-24.8 22.2 17.3 36.2"
                data-name="Path 60"/>
        </g>
      </svg>
    </div>
    <div class="body__container">
        <span class="temp__container">24°</span>
        <span class="state-temp__container">Clouds</span>
        <section class="min-max__container">
            <div class="min__container">
                <svg class="min-arrow__icon" viewBox="188.5 807 21 21">
              <path fill="#00ff9b" d="M209.5 817.5h-21L199 828z" data-name="Min Arrow"/>
            </svg>

                <span class="min-temperature__text">15</span>
                <span class="min__text">Min</span>
            </div>
            <div class="max__container">
                <svg class="max-arrow__icon" viewBox="449.5 820 21 21">
              <path fill="red" d="M449.5 830.5h21L460 820z" data-name="Max Arrow"/>
            </svg>
                <span class="max-temperature__text">35</span>
                <span class="max__text">Max</span>
            </div>
        </section>
    </div>

</div>
